<!--
Name: Nicolas Urrea
FSUID: nu22c
Due Date: 06/20/2025
The program in this file is the individual work of Nicolas Urrea
--> 

<!DOCTYPE html>
<html>
<head>
    <title>Find Courses by Instructor</title>
</head>
<body>
    <h1>Get All Courses for an Instructor</h1>

    <form action="/getCourses" method="POST">
        <label for="instructor_name">Instructor Name:</label><br>
        <input type="text" id="instructor_name" name="instructor_name" required><br><br>

        <input type="submit" value="Submit">
    </form>

    <br>
    <a href="/">Back to Home</a>
</body>
</html>