<!--
Name: Nicolas Urrea
FSUID: nu22c
Due Date: 06/20/2025
The program in this file is the individual work of Nicolas Urrea
-->

<!DOCTYPE html>
<html>
<head>
    <title>Top 5 Courses by Department</title>
</head>
<body>
    <h1>Top 5 Courses for a Department</h1>

    <form action="/getDept" method="POST">
        <label for="department">Department:</label><br>
        <input type="text" id="department" name="department" required><br><br>

        <input type="submit" value="Submit">
    </form>

    <br>
    <a href="/">Back to Home</a>
</body>
</html>